.eyeIcon {
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: none;
  padding: 0;
}

.eyeIcon::before {
  content: '';
  position: absolute;
  top: -7px;
  left: -7px;
  width: 28px;
  height: 28px;
}
